/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea

# VieNeu-TTS
/VieNeu-TTS/.venv
/VieNeu-TTS/__pycache__
/VieNeu-TTS/apps/__pycache__
/VieNeu-TTS/src/__pycache__
/VieNeu-TTS/models

# Logs
/storage/logs/*
!/storage/logs/.gitignore
/storage/*.log
*.log

